<div class="vpn_autoWhite_box">
	<div class="protectedHeader">
		<h2 class="protectedHdng" translate>NOTPROTECTED_HEADLINE_PROTECTED</h2>
		<h2 class="not_protectedHdng"translate>NOTPROTECTED_HEADLINE_NOTPROTECTED</h2>
	</div>
	<div class="protected_midLogo">
		<div class="protected_midLogo_img">
			<img src="images/splash_logo@2x.png" alt="#.">
			<div class="protcted_logoPos">
				<div class="protcted_logoPos_innr">
					<p translate>NOTPROTECTED_HEADLINE_LOGOTEXT</p>
				</div>
			</div>
		</div>
	</div>
	<div class="protected_footer">
		<div class="protected_footerInnr clearfix">
			<div class="protected_footerField">
				<span class="protected_footer_name">ResidentialVPN.io</span>
				<div class="fieldError_out">
					<div class="fieldError_innr">
						<p translate>NOTPROTECTED_HEADLINE_FAILED</p>
					</div>
				</div>
			</div>
			<div class="protected_footerRight clearfix">
				<ul class="protected_footerRightInnr">
					<li>
						<div class="protected_footSetingIcon">
							<a class="protected_footSetingBtn" href="javascript:void(0)"> <i class="fa fa-cog" aria-hidden="true"></i></a>
							<div class="protcted_fotLeng_topltip">
								<div class="protcted_fotLeng_topltipInn">
									<p translate>TOOLTIP_TEXT_SETTING</p>
								</div>
							</div>
							<div class="protcted_fotSeting_toolTip">
								<div class="protcted_fotSeting_toolTipInn">
									<ul>
										<li>
											<a class="prtctd_fotPop_slctLang" href="#" translate>OPTIONS_TEXT_SELLANG</a>
										</li>
										<li>
											<a class="prtctd_fotPop_sgetHlp" href="#" translate>OPTIONS_TEXT_GETHELP</a>
										</li>
										<li>
											<a class="prtctd_fotPop_slogOut" href="#" ng-click="logout()" translate>TEXT_LOGOUT</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="protected_footLengIcon">
							<a href="#">
								<img src="images/protected_fotr_star@2x.png" alt="#">
							</a>
							<div class="protcted_fotLeng_topltip">
								<div class="protcted_fotLeng_topltipInn">
									<p translate>NOTPROTECTED_SELECT_LOCATION_TOOLTIP</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Select Country Popup -->
	<div class="slctLeng_popOut country_select_popOpen">
		<div class="slctLeng_popSrch_field">
			<input placeholder="{{ 'SELECT_COUNTRY_PLACEHOLDER' | translate }}" type="text" id="countries-flags">
		</div>
	</div>
	<!-- End Country Popup -->

	<!-- Select Language Popup -->
	<div class="slctLanguage_popOut lenguage_select_popOpen">
		<div class="slctLeng_popSrch_field">
			<input placeholder="{{ 'SELECT_LANGUAGE_PLACEHOLDER' | translate }}" type="text" id="languages-flags">
		</div>
	</div>
	<!-- End Language Popup -->
</div>