<div class="vpn_autoWhite_box">
	<div class="emailInnerContent">
		<div class="emailHeaderImg">
			<img src="images/resiLogo@2x.png">
		</div>
		<div class="confirmEmailTemp_txt">
			<h2>{{ 'EMAILCONFIRM_HEADLINE_TEXT_TOP' | translate }}<br> {{ 'EMAILCONFIRM_HEADLINE_TEXT_BOTTOM' | translate }}</h2>
			<p>{{ 'EMAILCONFIRM_PARAGRAPH_TEXT_FIRST' | translate }}  <br>
				{{ 'EMAILCONFIRM_PARAGRAPH_TEXT_SECOND' | translate }} <br>
				{{ 'EMAILCONFIRM_PARAGRAPH_TEXT_THIRD' | translate }}
			</p>
			<a class="confirmEmailTemp_guardianBtn" href="#"  ng-click="logout()" > <i class="fa fa-hand-o-left" aria-hidden="true"></i><em>{{ 'GO_TO_LOGIN_TEXT' | translate }}</em></a>
		</div>
	</div>
</div>
