
<div class="vpn_autoWhite_box">
	<div class="emailInnerContent">
		<div class="emailHeaderImg">
			<img src="images/resiLogo@2x.png">
		</div>
		<div class="confirmEmailTemp_txt">
			<h2 translate>INSTGUARDIAN_HEADLINE_TEXT
			</h2>
			<p translate>INSTGUARDIAN_PARAGRAPH_TEXT
			</p>
			<a class="confirmEmailTemp_guardianBtn" href="#" translate>INSTGUARDIAN_PARAGRAPH_BTNINSTALL</a>
			<a class="confirmEmailTemp_remindBtn" href="#" translate>INSTGUARDIAN_PARAGRAPH_BTNREMIND</a>
		</div>
	</div>
</div>
